// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

#header {
    background-color: #AB006F !important;
    margin-bottom: 16px;
}

.pointed {
    cursor: pointer;
}

.vanished {
    display: none;
}
